# --- Core CV & AI ---
opencv-python
numpy
ultralytics
torch

# --- API Frameworks ---
fastapi
uvicorn[standard]

# --- Database ---
mysql-connector-python
sqlalchemy

# --- Utilities ---
python-dotenv
python-multipart
pydantic
requests
loguru
